<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Cats</title>
</head>
<body>
    <h1>Cats</h1>


    <div id="cats">
       <a href="/cuddles"> <img id='1' src="images/cat1.jpeg">
      <a href="/stokely">  <img id= '2' src="images/cat2.jpeg">
     <a href="/sterling">   <img id ='3' src="images/cat3.jpeg">
    </div>
    <a href ="/">Back to index</a>
</body>
</html>