<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <title>New Car</title>
</head>
<body>
    <h1>New Car</h1>
    <form action="" method="POST">
        <div class="field">
            <label for="make">Car make:</label>
            <input type="text" name="make">
        </div>
        <div class="field"> 
            <label for="model">Car model:</label>
            <input type="text" name="model">
        </div>
        <div class="field">
            <label for="year">Car year:</label>
            <input type="text" name="year">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>